<h3>Add New Project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for='title' >Project Title:</label>
    <input class="form-control" id = "title" name="title" type="text">
    <br>
    <button type="submit" class="button btn">Add Project</button>
  </div>
</form>
<br>
<a href="/">Return Home</a>
